<div class="container-fluid">
    <div ng-repeat="project in vm.projects.projects" class="panel panel-default" ui-sref="app.project({projectId: project.id})">
        <div class="panel-body">
            <img ng-src="{{project.logo}}">
            <h1>{{project.company.name}}</h1>
            <h2>{{project.name}}</h2>
            <a href="app.create-spring">Create sprint</a>
            <ul>
                <li ng-repeat="spring in vm.springs">{{sprint.name}}</li>
            </ul>
        </div>
    </div>
</div>
<!--<debug data="vm.projects"></debug>-->
