/*
 * Kanban Board drag&drop interface
 */
#kanban-board {
    display:flex;

    & .swimlane {
        flex: 1 1;
        margin: 10px;

        & .swimlane-body {
            white-space: normal;
            padding: 5px;

            /**
            * For the correct positioning of the placeholder element, the dnd-list and
            * it's children must have position: relative
            */
            &[dnd-list], &[dnd-list] > .task {
                position: relative;
            }

            & .empty-message {
                text-align: center;
            }

            .task {
                padding: 5px 10px;
                margin: 5px 0;
                cursor: move;

                & .task-body {
                    padding: 0;
                }
            }
        }
    }
}

.modal {
    overflow: hidden;
}

.exercise-placeholder {
    width: 170px;
    height: 40px;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #d9edf7;
    border-radius: 5px;
    border: 1px solid #bce8f1;

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: move;
}

.task-list-dialog-body {
    height: 400px;
    overflow: auto;

    .task-list {

        & .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            display:inline-block;
            margin:0px;
            position: relative
        }

        & input[type=checkbox]:checked + label {
            text-decoration: line-through;
            color: rgb(128, 144, 160);
        }

        & .list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
        & .list-group { margin-bottom:0px; }
    }
}




